# Do not commit python cache files
__pycache__/
*.pyc
.venv/
# Do not commit svg files (the images are converted to PNG anyways, they're just if I want to edit them later)
*.svg
# DO NOT COMMIT PERSONAL CODE
main.py
test.py
dat/path.json
# But do commit the examples
!examples/main.py
!examples/test.py
